# CAP BookShop
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/

# SQL Compiled Domain Model
db/BookShop-SQL

# SQL Compile Service Model
srv/compileBookShopService.SQL

#SQL file related to compiled data model
compileDataDefinitionModel.sql

# Initial data
db/data/*

#persistent sqlite db files
db.*

# SQL from schema
bookshop-sql.sql

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# @cap-js/cds-typer
@cds-models

srv/1Cat.1js

